@model Test_Resiter.Models.SendForm
@{
    ViewBag.Title = "Edit";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="general">
        <ul class="menu-item">
            <li class="menu-item">
                <a href="">Главная</a>
            </li>
            <li class="menu-item">
                @Html.ActionLink("Заявки", "Admins", "Home")

            </li>
            <li class="menu-item">
                @Html.ActionLink("Управление", "LogAdmin", "Account")

            </li>
        </ul>
    </div>
    <div class="block">

        Добавить комментарий
        @using (Html.BeginForm())
        {
            @Html.LabelFor(model => model.Name, "Имя")
            <br />
            @Html.EditorFor(model => model.Name)
            <br /> <br />
            @Html.LabelFor(model => model.PhoneNumber, "Номер телефона")
            <br />
            @Html.EditorFor(model => model.PhoneNumber)
            <br /> <br />
            @Html.LabelFor(model => model.Email, "Email")
            <br />
            @Html.EditorFor(model => model.Email)
            <br /> <br />
            @Html.LabelFor(model => model.Text, "Текст проблемы")
            <br />
            @Html.EditorFor(model => model.Text)
            <br /><br />
            @Html.LabelFor(model => model.Comment, "Комментарий")
            <br />
            @Html.EditorFor(model => model.Comment)
            <br /><br />
            <input type="submit" value="Отправить">
        }
    </div>
    <script scr="~/js/bootstrap.min.js"></script>
</body>
</html>